  @font-face {
    font-family: unscii-8;
    src: url(./resources/unscii-8.woff);
  }

  @font-face {
    font-family: unscii-8-tall;
    src: url(./resources/unscii-8-tall.otf);
  }

  body {
    font-family: unscii-8-tall;
    margin: 0;
    display: flex;
    flex: 1;
  }
 
  .nav{
    margin-right: 20px;
    transition-duration: 0.4s;
  }
  .container {
    display: flex;
    flex-direction: column;
  }

  .logo {
    font-size: 24px;
    font-family: unscii-8;
  }

  .navbar {
    background-color: #1A0703;
    color: #E5BD8C;
    font-size: 18px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    flex-wrap: wrap;
  }

  .nav a {
    text-decoration: none;
  }

  .nav a, .txt {
    color: #9b8468;
  }
  .nav a:hover{
    color: #CA8249;
  }

  .list1 {
    display: flex;
    flex: 1;
    gap: 20px;
    list-style: none;
  }

  .coffee1 {
    max-width: 550px;
    height: auto;
    border-radius: 20px;
    margin-bottom: 20px;
  }

  .header {
    background-color: #1A0703;
    color: #E5BD8C;
    display: flex;
    flex: 1;
    padding: 30px;
    gap: 100px;
  }

  h1 {
    font-size: 48px;
    font-weight: bolder;
    font-family: unscii-8;
  }

  .one {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    gap: 15px;
  }

  .butt {
    display: flex;
    flex: 0 1 auto;
    max-width: max-content;
    height: auto;
    padding: 9px;
    justify-content: center;
    align-items: center;
    background-color: #663524;
    border: none;
    text-decoration: none;
    color: #E5BD8C;
    border-radius: 20px;
    font-family: unscii-8-tall;
    font-size: medium;
    transition-duration: 0.4s;
  }

  .butt:hover {
    background-color: #CA8249;
    color: white;
  }

  h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #4E1A0A;
    
  }

  .txt2 {
    font-size: 18px;
    color: #663524;
    padding: 10px;
    max-width: 200px;
    text-align: center;
  }

  .info img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .info {
    display: flex;
    background: linear-gradient(#CA8249, #E5BD8C, #CA8249);
    /*background-color:#E5BD8C;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .line {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
  }

  .contain {
    display: flex;
   flex-direction: column;
    padding: 30px;
  }

 .effect{
  transition: 1s ease;
 }

.effect:hover{
  -webkit-transform: scale(0.8);
-ms-transform: scale(0.8);
transform: scale(0.8);
transition: 1s ease;
}

.quote{
  display: flex;
  flex-flow: column wrap;
  background-image: url(./resources/pics/pexels-ylanite-koppens-796609.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 50vh;
  color: #f8e9d7;
  justify-content: center;
  align-items: center;
}

.quote em{
  margin-top: 20px;
 font-size: 35px;
 width: 80%;
}

.quote p{
  display: flex;
  font-size: 18px;
   margin-left: auto;
   margin-right: 90px;
}
.call{
  background-color: #f8e9d7;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.contain2{
  padding: 40px;
  margin: 40px;
  background-color: #1A0703;
  width: 600px;
  height: 100px;
  display: flex;
  color: #E5BD8C;
  border-radius: 10px;
  justify-content: center;
  border: solid #663524 4px;
  align-items: center;
  flex: 1;
  align-items: flex-end;
}
.contain2 p{
  font-size: 20px;
  color: #9b8468;
  margin-right: 40px;
  display: flex;
  flex-wrap: wrap;
}
.contain2 b{
  font-size: 25px;
}

.butt2{
  padding: 9px;
  background-color: #1A0703;
  border: solid  #E5BD8C 2px;
  text-decoration: none;
  color: #E5BD8C;
  border-radius: 20px;
  font-family: unscii-8-tall;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  transition-duration: 0.5s;
}

.butt2:hover{
 background-color: #CA8249;
 color: #f8e9d7;
 border: #f8e9d7;
}